body{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(186, 240, 240);
}
.title {
  font-size: 100px;
  margin: 0 auto;
  width: 500px;
  background-image: linear-gradient(to right, #27bda9, #dcee3f);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.off {
  display: none;
}
.on {
  display: block;
}

.initial-game{
  margin-left: 20px;
}

.initial-game h4{
  font-size: 36px;
  margin-bottom: 5px;
  margin-top: 5px;
  color: blue;
}

a{
  border-radius: 10px;
  background-color: #1899d6;
  color: rgb(236, 198, 198);
  border: none;
  border-bottom: solid 3px transparent;
  border-right: solid 3px transparent;
  cursor: pointer;
  font-size: 36px;
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
    width: 270px;
    height: 50px;
    display: block;
    text-align: center;
}

.game-list{
  list-style: none;
}

li{
  font-size: 24px;
  color: #1899d6;
}

.game-button, .finish{
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  border-radius: 10px;
  background-color: #90f1bc;
  color: rgb(90, 138, 118);
  border: none;
  border-bottom: solid 3px transparent;
  border-right: solid 3px transparent;
  cursor: pointer;
  font-size: 24px;
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
}

.game {
  margin: 0 auto;
}

.state-field{
font-size: 24px;
background-image: linear-gradient(to right, #e9e51a, #27bda9);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.field-wrap{
  position: relative;
  width: 602px;
  height: 602px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.field {
  display: grid;
  border-radius: 50px;
  overflow: hidden;
  border: solid 1px wheat;
  grid-template-columns: auto auto auto;
}

.cell {
  width: 200px;
  height: 200px;
  border: solid 1px wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: tomato;
  background-color: turquoise;
  cursor: pointer;
  position: relative;
}

.cell_busy {
  width: 200px;
  height: 200px;
  border: solid 1px wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: tomato;
  background-color: turquoise;
  cursor: default;
}

#state {
  display: flex;
  justify-content: space-around;
}

.winH {
  display: block;
  position: absolute;
  width: 660px;
  height: 6px;
  left: -30px;
  border-radius: 6px;
  background-color: tomato;
}
.winV {
  display: block;
  position: absolute;
  width: 6px;
  height: 660px;
  top: -30px;
  border-radius: 6px;
  background-color: tomato;
}

.winDM {
  display: block;
  position: absolute;
  width: 870px;
  height: 6px;
  left: -10px;
  top: -10px;
  border-radius: 6px;
  background-color: tomato;
  transform: rotate(45deg);
  transform-origin: left;
}

.winDS {
  display: block;
  position: absolute;
  width: 870px;
  height: 6px;
  right: -10px;
  top: -10px;
  border-radius: 6px;
  background-color: tomato;
  transform: rotate(-45deg);
  transform-origin: right;
}

.wrap-finish{
  text-align: center;
}

.winner{
  animation-name: victory;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  margin: 0 auto;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  background-size: cover;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

@keyframes victory {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 600px;
    height: 600px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

.win{
  background-image : url(win.jpg); 
  background-color: #27bda9;
}

.lose{
  background-image : url(lose.png);
}

.hiden{
  display: none;
}