h1 {
  font-size: 100px;
  margin: 0 auto;
}

.off {
  display: none;
}
.on {
  display: block;
}

.initial-game {
  background-color: gray;
}

.game {
  margin: 0 auto;
}

.field {
  display: grid;
  width: 602px;
  height: 602px;
  border-radius: 50px;
  overflow: hidden;
  border: solid 1px wheat;
  grid-template-columns: auto auto auto;
  margin: 0 auto;
  margin-bottom: 20px;
}

.cell {
  width: 200px;
  height: 200px;
  border: solid 1px wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: tomato;
  background-color: turquoise;
  cursor: pointer;
  position: relative;
}

.cell_busy {
  width: 200px;
  height: 200px;
  border: solid 1px wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 96px;
  color: tomato;
  background-color: turquoise;
  cursor: default;
}

#state {
  display: flex;
  justify-content: space-around;
}
