<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./static/styles.css" />
        <title>Tic-Tak-Toe</title>
  </head>
  <body>
    <h1 class="title">Tic-Tak-Toe</h1>
    <div class="initial-game">
      <h4><a id="create-game">Create new game</a></h4>
      <h4>List of games :</h4>
      <ul class="game-list"></ul>
    </div>
    <div class="game">
      <div id="state">
        <h5 class="state state-field"></h5>
        <h5 class="go state-field"></h5>
        <h5 class="enemy-state state-field"></h5>
      </div>
      <div class="field-wrap">
        <div class="field"></div>
        <span></span>
        <div class="winner hiden"></div>
      </div>
      
      <div class="wrap-finish">
        <button class="finish">Finish</button>
      </div>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
