<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Tic-Tak-Toe</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <h1>Tic-Tak-Toe</h1>
    <div class="initial-game on">
      <h4>Create new game</h4>
      <button id="create-game">Create</button>
      <h4>List of games</h4>
      <ul class="game-list"></ul>
    </div>
    <div class="game off">
      <button class="finish">Finish</button>
    </div>
    <script src="/static/script.js"></script>
  </body>
</html>
