<!DOCTYPE html>
<html>
<head>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
	<title>Sign Up</title>
	<link rel="stylesheet" type="text/css" href="/static/styles/styles_su.css">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>
<body>
	<div class="main">  	
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form id="form_up">
					<label for="chk" aria-hidden="true">Sign up</label>
					<input type="text" name="txt" placeholder="User name" required="" class="user_name">
                    <div class="available hidden">Name not available</div>
					<input type="password" name="pswd" placeholder="Password" required="">
					<input type="password" name="pswd" placeholder="Confirm your password" required="">
                    <div class="confirm hidden">Passwords do not match</div>
					<button type="submit">Sign up</button>
				</form>
			</div>

			<div class="login">
				<form id="form_in">
					<label for="chk" aria-hidden="true">Login</label>
					<input type="text" name="name" placeholder="User name" required="">
					<input type="password" name="pswd" placeholder="Password" required="">
                    <div class="not-exist hidden">User or password does't exist</div>
					<button type="submit ">Login</button>
				</form>
			</div>
	</div>
    <script src="static/scripts/create.js"></script>
    <script src="static/scripts/sign_in.js"></script>
</body>
</html>